/* datenschutz.css */

/* Main Content Styling */
main {
    max-width: 800px;
    margin: 80px auto 20px;
    /* Adjusted margins */
    padding: 0 20px;
}

h3 {
    color: #004A99;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #004A99;
    margin-bottom: 15px;
}

p,
li,
address {
    line-height: 1.6;
    margin-bottom: 10px;
}

ol {
    padding-left: 20px;
}

address {
    font-style: normal;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        margin: 80px 10px 20px;
        padding: 0;
    }
}